input[type="text"],
input[type="number"],
select,
textarea,
.spinput,
.spdate {
  width: 100%;
  padding: 10px;
  border: 1px solid var(--input_border_color);
  border-radius: 4px;
  resize: vertical;
  font-size: 18px !important;
}

input[type="submit"]:hover {
  background-color: var(--btn_submit_hover);
}
input[type="submit"] {
  background-color: var(--btn_submit_color);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px !important;
}

input[type="button"]:hover {
  background-color: var(--btn_submit_hover2);
}
input[type="button"] {
  background-color: var(--btn_submit_color2);
  color: white !important;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: 200;
  font-size: 1.5rem;
  text-align: center;
}

.col-md-2 {
  float: left;
}

.logo {
  float: right;
  border-radius: 20px;
}

.col-md-12,
.col-md-4,
.col-md-6 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#h1donhang,
#rowdonhang,
#btnds {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinput,
.spdate {
  width: 300px;
  height: 42px;
}

#submit-button,
#chingoai-button,
#xemds-button {
  min-width: 150px !important;
  max-width: 150px !important;
}

#chingoai-button,
#xemds-button {
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 10px;
}
